
* {
   margin: 0;
   padding:0;
}
.nav1{
   margin:0px;
   background-color:rgb(28, 28, 112);
   border-style: solid;
   border-color: rgba(0, 0, 0, 0.933);
   border-radius: 10px;
   overflow: hidden;

   /* margin-top: 5px; */
   /* width: 100%; */
}

.nav1 ul  {
   color: white;
   list-style-type: none ;
   margin : 0;
   padding : 0;
   display: flex;
   overflow: hidden;
}

.nav1 ul li a {
   display: block;
   text-decoration: none;
   padding: 10px 17px;
   text-decoration: none; 
   font-weight:bold;
   
}
.nav1 ul li:hover{
   background-color: rgba(0, 0, 0, 0.73);
   border-radius: 10px;
   text-transform: uppercase;
   cursor: context-menu;
}

.skill {
   padding-top: 0%;
   padding-right: 0%;
   text-align: center;
   margin-right: 86%;
   margin-left: 5vh;
   font-size: 40px;
   border-radius: 10px;
   color: white;
   border: solid;
   border-color: rgb(165, 193, 240);
}

.line{
   margin-top: 15vh;
   height: 5px;
   /* background-color: blue; */
   background: #2A7B9B;
   background: linear-gradient(90deg, rgb(4, 4, 239) 0%, rgb(41, 19, 241) 50%, rgb(4, 32, 171) 100%);
   border-radius: 10px;
   margin-left: 4vb;
   margin-right: 4vb;
}


.section-title {
   margin-top: 150px;
   display: flex;
   align-items: center;
   gap: 20px;
   color: white;
   font-size: 26px;
   letter-spacing: 2px;
}

.section-title::before,

.section-title::after {
  content: "";
  flex: 1;
  height: 3px;    
  background: linear-gradient(
    to right,
    transparent,
    #1a13e0,
    transparent
  );
}

.skills-wrapper {
   box-sizing: inline;
   display: grid;
   grid-template-columns: auto auto;
   padding: 10px;
   gap: 40px;
}

.skills-grid {
   width: 300px;
   text-align: center;
   padding-top: 10px;
   margin: auto; 
}

.skill-section h3 {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center;
   align-items: center;
   justify-content: center;
   color: rgb(255, 255, 255);
}

.skill-card {
   margin-top: 6px;
   border: 1px solid rgb(19, 15, 238);
   font-family: sans-serif;
   border-radius: 12px;
   padding: 4px;
   color: white;
   width: 300px;
}

.skill-card:hover {
   box-shadow: 0px 0px 10px 5px rgba(0, 0, 255, 0.578);
   transform: scale(1.05); 
}
/* @media screen and (max-width:768px) {
   .skill-card {
      width: 300px;
   }
} */

.proj {
   border: solid;
   border-color: white;
   /* margin-left: 40%; */
   margin-top: 20px;
   margin-right: 40%;
   height: 100px;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.proj .projBox {
   color: white;
}