* {
   margin: 0;
   padding: 0;
}
html body {
    margin: 0px;
    padding : 0px;
    background-color: #000000;
    overflow-x: hidden;
 }

html {
   scroll-behavior: smooth;
}

.maini {
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;  
}

.intro {
   border: 1px solid rgb(143, 98, 240);
   border-radius: 12px;
   width: 700px;
   /* max-width: 600px;  */
   color: rgb(255, 239, 239);
   line-height: 1.7; 
   padding: 20px;
   font-size: 1.05rem;
}

.intro1 {
  color: white;
  font-size: 3rem;
  font-weight: 700;
}

.intro1 span {
  color: blue;
}

.intro p {
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 18px;
}

.image1 {
  width: 320px;
  max-width: 90%;
  border-radius: 105px;
  filter: brightness(1) contrast(2);
  border: 4px solid rgba(56, 56, 160, 0.897);
  transition: transform 0.3s ease;
}

.image1:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .maini {
    flex-direction: column;   
  }
}

.images {
   image-resolution: 100;
   filter: brightness(50%);
   filter: contrast(150%);
}

.project {
   border-color: #ffffff56;
   color: white;
   margin-top: 20px;
   background-color: #000000;
   border-radius: 12px;
}
.project1 {
   display: flex;
   column-gap: 30px;
   justify-content: center;
}

.resume {
   text-align: center;
}
.iframe {
   height: 750px;
   width: 50%;
   margin-top: 100px;
   border: lightblue;
   border: solid;
   border-radius: 15px;
}


.container {
   margin: 0px;
   display: flex;
   gap: 90px; 
   margin-top: 40px;
   justify-content: center;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
}

.container .s img {
   image-resolution: 100;
   border: solid;
   border-color: #83b2d2;
   height: 60px;
   width: 60px;
   border-radius: 20px;
}

.container .s img:hover {
    box-shadow:
    0 0 15px rgba(0, 120, 255, 0.6),
    0 0 40px rgba(0, 120, 255, 0.3);
}

.line1 {
   margin-top: 80px;
   border: none;
   content: "";
  flex: 1;
  height: 3px; 
  margin-left: 10%;
  margin-right: 10%;
  background: linear-gradient(
    to right,
    transparent,
    #8d8bd6, 
    transparent
  );
}

.dsa {
   text-align: center;
   margin-top: 40px;
   font-size: 30px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: rgb(58, 150, 230);
}

.social {
   display: flex;
   gap: 90px; 
   justify-content: center;
   margin-top: 50px;

}

.card {
   text-align: center;
   background-color: #000000;
   color: white;
}

.social img {
   height: 50px;
   width: 50px;
   border-radius: 20px
}

.social img:hover {
   box-shadow:
    0 0 15px rgba(0, 120, 255, 0.6),
    0 0 40px rgba(13, 0, 255, 0.3),
    0 0 80px rgba(83, 66, 208, 0.3);
}

.contact {
  background: #000000;
  padding: 40px;
  text-align: center;
}

.contact h2 {
  color: #ffffff;
}

.contact form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap : 12px;
}

.contact input,
.contact textarea {
  background: #111;
  border: 1px solid #002fff;
  color: white;
  padding: 10px;
  border-radius: 6px;
}

.contact button {
   
  background: #001e95;
  color: rgb(255, 255, 255);
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}